{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12",
          "browsers": [
            "chrome >= 73",
            "firefox >= 65",
            "safari >= 12.1",
            "edge >= 79"
          ]
        }
      }
    ]
  ]
}
